* {
    font-family:  'Arial Narrow Bold';
}

header {
    margin-bottom: 20px;
}

.nav-item {
    /* color : black; */
    border-radius: 10px;
    border : 2px solid grey;
    margin : 5px;
}

.nav-item :hover {
    border-radius : 10px;
    background-color : rgba(0, 0, 0, 0.415);
    color : white;
}

/* .card_h-100{
    height : 100%;
    
} */
.card-img-top {
    height: 400px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Ensure images cover the space */
}

footer {
    text-align: center;
}
